<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dwc.sidecar.watch</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{dwc_binary}}</string>
        <string>watch</string>
        <string>{{watch_root}}</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>DWC_SIGNERS</key>
        <string>{{signers_path}}</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>{{watch_root}}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>$HOME/Library/Logs/dwc-sidecar-watch.out.log</string>
    <key>StandardErrorPath</key>
    <string>$HOME/Library/Logs/dwc-sidecar-watch.err.log</string>
</dict>
</plist>
